:host{
  display: block;
  padding: 1em;
  border: 1px solid #000;
  line-height: 1.5;
}
p{
  font-weight: 600;
  font-size: 1.2em;
}
table{

}
td,th, tr, table{
  border: 1px solid #ddd;
  border-collapse: collapse;
}
td, th{
  padding: .5em;
}
